@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.three {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: #000;
}